@import "tailwindcss";

:root{
    --Corverde: #0D9488;
    --Cinzaazulado: #5B6573;
}


.animar{
    color: #0d94898e;
}

@theme{
    --animate-card: card 8s infinite;
    
    @keyframes card {
        0%, 100%{
            transform: translate(0, -10px)
        }
        50%{
            transform: translate(0, 30px)
        }
    }

    --animate-main: main 60s linear forwards;

    @keyframes main {
        to{
          stroke-dashoffset: 480;
          
        }
    }   
}
@keyframes cronometroTeste{
    to{
        stroke-dashoffset: 550;
    }
}

